@import "variables";

/* about me page  */
.about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color:white;
    font-family: 'Proza Libre', sans-serif;

}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#maps2 {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin: 30px;
   width: 300px;
   height: 200px;
   border-radius: 40px;
   
    
}

.bio2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 80vw;
   padding: 30px;
   
    
}

@media(min-width: 300px){
.maps {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
        }

}

// Increase width of text to be stretched out 
// on smaller devices (Smartphones)
@media(max-width: 420px){
    .bio2{
        width: 100%;
        font-size: 12px;
    }
    .listItem {
        width: 75%;
        margin-left: 12.5%;
        font-size: 12px;
    }
}


#travels {
    margin: 50px;
}

.listItem {
    @include center;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    font-family: 'Proza Libre', sans-serif;
    ul{
        list-style:none;
    }
    li {
        margin-bottom: 5px;
    }
    
}
