* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body-gradient {
  background: #aa4b6b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3b8d99), color-stop(#6b6b83), to(#aa4b6b));
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#body-gradient-home {
  background: #003973;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#E5E5BE), to(#003973));
  background: linear-gradient(to left, #E5E5BE, #003973);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px black;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
}

.header {
  font-family: 'Rubik', sans-serif;
  height: 20vh;
  width: 100%;
}

nav > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
  color: black;
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

a:hover {
  color: black;
  font-size: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#hover:hover {
  background-color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
}

.home p {
  width: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  font-size: 10px;
}

@media only screen and (max-width: 850px) {
  .title {
    font-size: large;
  }
  .home {
    font-size: small;
  }
  .home p {
    width: 90%;
  }
}

@media (max-width: 850px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #BBD2C5;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#292E49), color-stop(#536976), to(#BBD2C5));
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -120%;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  h1 {
    font-size: 10px;
  }
  .bio p {
    font-size: 20px;
  }
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.bio img {
  width: 30%;
  height: 60%;
  border-radius: 100%;
  border: solid #a0eec4 2px;
}
/*# sourceMappingURL=index.css.map */