// Home Page

@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


#body-gradient{
background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#body-gradient-home{
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

// Navbar component
.navbar {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width: 100%;    
}

// Title/Heading 
.title {
    display: flex;
    width: 30vw;
    font-family: 'Megrim', cursive;
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px black;
    margin-top: 15px;
}

a:link {
    text-decoration: none;
  }

// Header container with font styling for nav items
.header {
    font-family: 'Rubik', sans-serif;
    height: 20vh;
    width: 100%;    
}

nav > a {
    display: flex;
    align-items: center;
    padding-right: 5vw;
    color: black;
}

// Nav menu items - remove bulletpoint styling
nav .mainMenu {
    display: flex;
    list-style:none;
}

// Nav menu items additional styling
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:white;    
}

// Hover effects for links and selected classes to change colour
a:hover {
    color: black;
    font-size: 30px;
    transition: 0.25s;
}

.hover:hover{
    background-color: black;
    transition: 0.25s;
}

// Hamburger function menu
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}


    

// Sub-heading section
.profile {
    @include center;
    margin-top: 20px;
    margin-bottom: 50px;
}


// Setting global styling for h2 headings
h2 {
    @include center;
    font-size: 30px;
    color:white;
    font-family: 'Proza Libre', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

// Biography paragraph section styling
.home {
    @include center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 18px;
    color:white;
    font-family: 'Proza Libre', sans-serif;
    
   p{
    width: 50%;
   }
}

// Footer component styling
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    font-size: 10px;
} 


@media only screen and (max-width: 850px) {
    // Decrease heading size for smaller screen sizes
    .title { 
        font-size: large;
   }
//    decrease font size for smaller screen sizes
   .home {
       font-size: small;
    
    //    Increase font width for smaller screen sizes
       p{
           width: 90%; 
       }
    }
}



// Media breakpoint for medium-small screens
@media(max-width: 850px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #BBD2C5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transition: top 1s ease;
        display: flex;
        top: -120%;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }

    nav .openMenu {
        display: block;
    }

    h1 {
    font-size: 10px;  
    }
    .bio p {
        font-size: 20px;
    }
}


// Profile image styling
.bio {
   @include center;
   margin-bottom: 30px;
        img{
            width: 30%;
            height: 60%;
            border-radius: 100%;
            border: solid #a0eec4 2px; 
        }
}