* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body-gradient {
  background: #aa4b6b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3b8d99), color-stop(#6b6b83), to(#aa4b6b));
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#body-gradient-home {
  background: #003973;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#E5E5BE), to(#003973));
  background: linear-gradient(to left, #E5E5BE, #003973);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  font-family: 'Megrim', cursive;
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px black;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
}

.header {
  font-family: 'Rubik', sans-serif;
  height: 20vh;
  width: 100%;
}

nav > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
  color: black;
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

a:hover {
  color: black;
  font-size: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#hover:hover {
  background-color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 850px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #BBD2C5;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#292E49), color-stop(#536976), to(#BBD2C5));
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -120%;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  h1 {
    font-size: 10px;
  }
  .bio p {
    font-size: 20px;
  }
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.bio img {
  width: 30%;
  height: 60%;
  border-radius: 100%;
  border: solid #a0eec4 2px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
}

.home p {
  width: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  font-size: 10px;
}

@media only screen and (max-width: 850px) {
  .title {
    font-size: large;
  }
  .home {
    font-size: small;
  }
  .home p {
    width: 90%;
  }
}

/* about me page  */
.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maps2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin: 30px;
  width: 300px;
  height: 200px;
  border-radius: 40px;
}

.bio2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80vw;
  padding: 30px;
}

@media (min-width: 300px) {
  .maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (max-width: 420px) {
  .bio2 {
    width: 100%;
    font-size: 12px;
  }
  .listItem {
    width: 75%;
    margin-left: 12.5%;
    font-size: 12px;
  }
}

#travels {
  margin: 50px;
}

.listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-family: 'Proza Libre', sans-serif;
}

.listItem ul {
  list-style: none;
}

.listItem li {
  margin-bottom: 5px;
}

#body-portfolio {
  background: #2b5876;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
  background: linear-gradient(to right, #4e4376, #2b5876);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  height: 50%;
  margin-bottom: 100px;
}

#project-img {
  width: 700px;
  height: 500px;
}

#project-img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 30%;
  margin-left: 40%;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: white;
  font-family: 'Proza Libre', sans-serif;
  width: 30vw;
  height: 30%;
  font-size: 15px;
  margin-left: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1460px) {
  #project-img {
    width: 40vw;
    height: 50vh;
  }
  .project-text {
    width: 35vw;
    height: 20%;
    font-size: 12px;
  }
  .project-header h2 {
    width: 25vw;
    height: 10vh;
    font-size: 13px;
  }
}

@media only screen and (max-width: 850px) {
  #project-img {
    width: 30vw;
    height: 20vh;
  }
  .project-text {
    width: 35vw;
    height: 10%;
    font-size: 10px;
  }
  .project-header h2 {
    width: 30vw;
    height: 5vh;
    font-size: 14px;
  }
}

@media only screen and (max-width: 490px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    width: 100vw;
  }
  #project-img {
    width: 70vw;
    height: 30vh;
  }
  .project-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60vw;
    height: 10%;
    font-size: 10px;
    margin: 0px;
    margin-bottom: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .project-header {
    width: 100vw;
    height: 5vh;
    font-size: 13px;
    margin-left: 0px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

#small-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: oldlace;
}

/* Blog page  */
#blog-body {
  background: #E8CBC0;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#636FA4), to(#E8CBC0));
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogs p {
  margin-bottom: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 30px;
  margin: 40px;
  width: 30vw;
  height: 40vh;
}

@media only screen and (max-width: 1300px) {
  #blog {
    height: 40vh;
  }
}

@media only screen and (max-width: 1050px) {
  #blog {
    height: 40vh;
    width: 60vw;
  }
}

@media only screen and (max-width: 850px) {
  #blog {
    height: 40vh;
    width: 70vw;
  }
}

@media only screen and (max-width: 590px) {
  #blog {
    height: 30vh;
    width: 70vw;
  }
  h2 {
    font-size: medium;
  }
}

@media only screen and (max-width: 420px) {
  #blog {
    height: 30vh;
    width: 70vw;
  }
  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
}

.navbarBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.blog-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 50%;
  border-radius: 20px;
}

.blog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  margin: 30px;
  font-family: 'Balsamiq Sans', cursive;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  font-family: 'Balsamiq Sans', cursive;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-text {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 70%;
}

.blog-text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  margin: 30px;
}

.blog-image-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 60%;
  border-radius: 20px;
  margin: 20px;
}

@media only screen and (max-width: 500px) {
  .blog-image-two {
    width: 50%;
    height: 20vh;
    margin: 0px;
    margin-top: 40px;
    border-radius: 0px;
  }
  .blog-image {
    width: 100%;
    height: 50vh;
    border-radius: 0px;
  }
  .blog-text {
    width: 90%;
  }
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px;
  width: 35%;
  height: 40%;
}

#collage {
  width: 25vw;
}

.blog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40vw;
}

.blog-menu a {
  padding: 20px;
}

#body-contact {
  background: #F3904F;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3B4371), to(#F3904F));
  background: linear-gradient(to right, #3B4371, #F3904F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm #card-element:disabled {
  font-family: 'Proza Libre', sans-serif;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 30px;
  display: block;
  width: 40vw;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::-webkit-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm :-ms-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::-ms-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#submit:hover {
  background-color: #c67c21;
}

@media (max-width: 650px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm #card-element:disabled {
    width: 70vw;
  }
  #fs-frm label {
    font-size: 13px;
  }
}

#social-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: white;
}

#resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: lightblue;
  font-size: 20px;
  text-decoration: underline;
}

#resume:hover {
  color: black;
  text-decoration: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  color: white;
  font-size: 30px;
}

#icons:hover {
  color: black;
}
/*# sourceMappingURL=main.css.map */