@import "variables";

#body-portfolio{
background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.projects{
    @include flex;
    margin-left: 10%;
    height:50%;
    margin-bottom: 100px;

}

#project-img{
    width: 700px;
    height: 500px;
}

#project-img:hover{
    transform: scale(1.25);
    transition: 0.15s;
}

.project-header{
    @include flex;
    width: 20vw;
    height:30%;
    margin-left: 40%;

}


.project-text {
    @include flex;
    @include font;
    width: 30vw;
    height:30%;
    font-size: 15px;
    margin-left: 40%;
    flex-direction: column;

}

.column{
    @include flex;
    flex-direction: column;
}