
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex{
    display: flex;
}

@mixin font{
    font-size: 18px;
    color:white;
    font-family: 'Proza Libre', sans-serif;
}